.tittle{
    margin-bottom: 15px;
}
.container{
    width: 50%;
}
form{
    display: flex;
    flex-direction: column;
    height: 500px;
}

table {
    width: 100%;
    height: 10px;
  }
  
button{
    margin-top: 20px;
}